@model MVCDemo.DataAccess.Models.HomeViewModel

@{ 
    ViewBag.Title = "Home Page";
}

<h1>Garage</h1>
<table>
    @foreach (var car in Model.Cars)
    {
        <tr>
            <td><p>@car.CarName</p></td>
            <td><p>@car.BrandName</p></td>
            <td><p>@car.MileAge</p></td>
            <td><p>@Html.ActionLink("Detail", "Detail", "Home", new { Id = car.CarId })</p></td>
            <td><p>@Html.ActionLink("Edit", "Edit", "Home", new { Id = car.CarId })</p></td>
        </tr>
    }
</table>
@Html.ActionLink("Create New Car", "CreateCar", "Home")

@section footer {
    <div>
        <span>
            Home Page
        </span>
    </div>
}